@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.box-0 {
  top: 170px;
  left: 20px;
}

.box-1 {
  top: 210px;
  left: 50px;
}

.box-2 {
  top: 250px;
  left: 80px;
}

.box-3 {
  top: 210px;
  left: 110px;
}

.box-4 {
  top: 170px;
  left: 140px;
  /* top: 210px;
  left: 200px; */
}

.box-5 {
  top: 130px;
  left: 150px;
  /* top: 210px;
  left: 250px; */
}

.box-6 {
  top: 90px;
  left: 200px;
  /* top: 210px;
  left: 300px; */
}

.box-7 {
  top: 130px;
  left: 210px;
  /* top: 210px;
  left: 350px; */
}

.food-0 {
  top: -10px;
  left: 130px;
}

.food-1 {
  top: 40px;
  left: 220px;
}

.food-2 {
  top: 120px;
  left: 235px;
}

.food-3 {
  top: 190px;
  left: 210px;
}

.food-4 {
  top: 230px;
  left: 130px;
}

.food-5 {
  top: 190px;
  left: 40px;
}

.food-6 {
  top: 120px;
  left: 15px;
}

.food-7 {
  top: 40px;
  left: 30px;
}

.chair-0 {
  top: -15px;
  left: 180px;
}

.chair-1 {
  top: 50px;
  right: 25px;
}

.chair-2 {
  top: 170px;
  right: -5px;
}

.chair-3 {
  top: 290px;
  right: 40px;
}

.chair-4 {
  bottom: -15px;
  left: 180px;
}

.chair-5 {
  top: 290px;
  left: 35px;
}

.chair-6 {
  top: 170px;
  left: 0;
}

.chair-7 {
  top: 50px;
  left: 20px;
}